Source: plowshare4
Section: web
Priority: optional
Maintainer: Carl Suster <carl@contraflo.ws>
Build-Depends:
 bash-completion,
 debhelper (>= 9)
Standards-Version: 3.9.6
Homepage: https://github.com/mcrapet/plowshare
Vcs-Git: git://github.com/arcresu/plowshare4-debian.git -b debian/unstable
Vcs-Browser: https://github.com/arcresu/plowshare4-debian

Package: plowshare4
Architecture: all
Depends:
 curl (>=7.24),
 recode | libhtml-parser-perl,
 rhino,
 ${misc:Depends}
Recommends:
 qiv | feh | sxiv | imagemagick
Suggests:
 aview | caca-utils,
 fbi
Description: Download and upload files from file sharing websites
 Plowshare is a framework for interacting with file sharing websites, providing
 an API to perform tasks like uploading and downloading files, and displaying
 CAPTCHAs to solve or sending them to CAPTCHA web services.
 .
 This package does not contain any of the drivers (called 'modules') for
 specific file sharing websites, which must be installed separately due to
 their dependence on often undocumented and rapidly changing external APIs.
