Source: plowshare4
Section: web
Priority: optional
Maintainer: Carl Suster <carl@contraflo.ws>
Build-Depends:
 bash-completion,
 debhelper (>= 9)
Standards-Version: 3.9.6
Homepage: http://code.google.com/p/plowshare/
Vcs-Git: git://github.com/arcresu/plowshare4-debian.git -b debian/unstable
Vcs-Browser: https://github.com/arcresu/plowshare4-debian

Package: plowshare4
Architecture: all
Depends:
 curl (>=7.24),
 recode | libhtml-parser-perl,
 rhino,
 ${misc:Depends}
Recommends:
 qiv | feh | sxiv | imagemagick
Suggests:
 aview | caca-utils,
 fbi
Description: Download and upload files from file sharing websites
 Plowshare is a command-line tool for managing files on popular file sharing
 websites (a.k.a. file hosting providers or one-click hosters). Plowshare
 can interact with supported site via a uniform interface to perform such
 tasks as downloading or uploading files, managing remote folders and
 deleting links. It additionally supports several CAPTCHA services, and
 provides an API for writing scripts for more complicated tasks.
