#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1
export PLOWSHARE_FORCE_VERSION=$(shell git describe --always --tags refs/heads/upstream/master)

%:
	dh $@

clean: 
	dh_testdir
	dh_testroot
	# Add here commands to clean up after the build process.
	DESTDIR=$(CURDIR)/debian/plowshare4 PREFIX=/usr make uninstall
	dh_clean 

install: build
	dh_testdir
	dh_testroot
	dh_prep
	dh_installdirs

	# Add here commands to install the package into debian/plowshare4.
	DESTDIR=$(CURDIR)/debian/plowshare4 PREFIX=/usr make install
	chmod +x $(CURDIR)/debian/plowshare4/usr/share/plowshare4/core.sh
	find $(CURDIR)/debian/plowshare4/usr/share/plowshare4/modules/ -name "*.sh" -exec chmod +x {} \;

# Build architecture-independent files here.
binary-indep: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs
	dh_installdocs
	dh_installexamples
	dh_installman
	dh_link usr/share/plowshare4/download.sh usr/bin/plowdown
	dh_link usr/share/plowshare4/upload.sh   usr/bin/plowup
	dh_link usr/share/plowshare4/delete.sh   usr/bin/plowdel
	dh_link usr/share/plowshare4/list.sh     usr/bin/plowlist
	dh_link usr/share/plowshare4/probe.sh    usr/bin/plowprobe
	dh_strip
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

# Build architecture-dependent files here.
binary-arch: build install

binary: binary-indep binary-arch

.PHONY: build clean binary-indep binary-arch binary install
